.Field {
  width: 100%;
  height: 40px;
  border-radius: 9px;
  border-style: none;
  text-decoration: none;
 
}

.linkDecoration{
  text-decoration: none;
  color: #ffffff; 
}

.ContainerField {
  display: flex;
  flex-direction: row;
  text-align: start;
  border-style: none;

}
.BoxButton{
  border-style: none;
}

@media (max-width: 770px) {
  .ContainerField {
    display: flex;
    flex-direction: column;
    text-align: start;
    border-style: none;
  }

  @media (max-width: 770px) {

    .FieldWhats {
      max-width: 350px;

    }

    .FieldCidade {
      max-width: 350px;
    
    }

    .Field {
      max-width: 350px;
    
    }

    .BoxButton {
      max-width: 350px;
      border-style: none;

     
    }

   


  }

  




}

.GridField {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  text-align: justify;
  justify-content: start;
  padding: 4px;
  min-width: 300px;
  border-style: none;
}

.FieldWhats {
  max-width: 350px;
  height: 40px;
  border-radius: 9px;
  border-style: none;
}

.FieldCidade {
  max-width: 350px;
  height: 40px;
  border-radius: 9px;
  border-style: none;
}

.RadioField {
  display: flex;
  flex-direction: row;
  text-align: start;

}



.Box1 {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: start;
  justify-content: start;
  margin-left: 5px;
  margin-bottom: -5px;
}


.BoxButton {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: flex-end;
}

.Button {
  display: flex;
  margin-left: 10px;
  background-color: #FF5921;
  height: 50px;
  width: 180px;
  border-radius: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: aliceblue;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}